/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  background-color: #f0f2f5;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar {
  width: 290px;
  height: 100vh;
  background-color: #1c1c1c;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed; /* Keep the sidebar fixed */
  left: 0; /* Align to the left */
  top: 0; /* Align to the top */
  z-index: 100; /* Ensure it appears above other content */
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.sidebar.active {
  transform: translateX(0); /* Show sidebar when active */
}

.menu-toggle {
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  display: none; /* Initially hidden */
}

.logoContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer h1 {
  font-size: 28px;
  color: #ffffff;
}

/* Sidebar Heading */
.sidebar h3 {
  margin-top: 60px;
  margin-left: 30px;
  font-size: 26px;
  color: #7e7e7e;
}

/* Sidebar Navigation */
.sidebar nav ul {
  list-style: none;
  margin-left: 45px;
}

.sidebar nav ul li {
  margin-top: 50px;
}

.sidebar nav ul li a {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.managedPic {
  margin-right: 10px;
  width: 30px;
}

.logText {
  color: #613db6;
}

/* Sidebar Profile */
.profile {
  margin-top: auto;
  text-align: center;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 290px; /* Space for the sidebar */
  transition: margin-left 0.3s ease; /* Smooth transition */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.toggle-container {
  position: relative;
}

input[type="checkbox"] {
  display: none;
}

.toggle-label {
  cursor: pointer;
  font-size: 24px; /* Adjust font size as needed */
  transition: transform 0.3s ease-in-out;
}

input[type="checkbox"]:checked + .toggle-label {
  transform: rotate(180deg);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .menu-toggle {
    color: black;
    display: block; /* Show the toggle on smaller screens */
  }

  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0; /* No margin when sidebar is hidden */
  }
}

.log-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.log-form button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #613db6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.log-form button:hover {
  background-color: #4a2b89;
}

.log-form input,
.log-form select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.log-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.log-form label {
  font-size: 14px;
  color: #555;
}

.log-form h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

/* Transaction List */
.transaction-list {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.transaction-list h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

.transaction-list th,
.transaction-list td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.transaction-list th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.transaction-list tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transaction-list table {
  width: 100%;
  border-collapse: collapse;
  color: #333;
}

/* Dark Mode */

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;

  .toggle-label {
    color: #e0e0e0;
  }

  .sidebar {
    background-color: #2a2a2a;
  }

  .sidebar h3 {
    color: #b0b0b0;
  }

  .transaction-list td th {
    border-bottom: 1px solid #555;
  }

  .transaction-list th {
    background-color: #444;
  }

  .transaction-list tbody tr:nth-child(even) {
    background-color: #333;
  }

  .transaction-list table {
    color: #e0e0e0;
  }

  .transaction-list h3 {
    color: #e0e0e0;
  }

  .transaction-list {
    background-color: #2a2a2a;
  }

  .log-form label {
    color: #ccc;
  }

  .log-form h3 {
    color: #e0e0e0;
  }

  .log-form {
    background-color: #2a2a2a;
  }
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.delete-btn svg {
  transition: transform 0.2s;
}

.delete-btn:hover svg {
  transform: scale(1.2);
}

.hidden-id {
  display: none;
}
